.menu-btn {
  position: absolute;
  top: 0;
  right: 15px;
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
  transition: $transition;
  text-decoration: none;
  pointer-events: auto;
  border: none;
  border-radius: 20px !important;
  background-color: transparent;
  box-shadow: none;

  @include min(769) {
    right: 40px;
  }
  @include min(1025) {
    display: none;
  }

  &.open {
    background-color: $main-green;

    .menu-btn__icon {
      border-right: 1px solid $fresh-mint;
    }

    .menu-btn__icon svg,
    .menu-btn__icon-center {
      fill: $neutral-white;
    }

    .menu-btn__text {
      color: $neutral-white;
    }
  }
}

.menu-btn__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  height: 20px;
  padding-right: 16px;
  transition: $transition;

  svg {
    fill: $main-green;
    width: 12px;
    height: 12px;
    transition: $transition;
  }
}

.menu-btn__icon-center {
  fill: transparent;
}

.menu-btn__text {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  padding-left: 16px;
  user-select: none;
  transition: $transition;
  white-space: nowrap;
  text-transform: uppercase;
}

.menu-btn--white {
  background-color: $neutral-white;

  .menu-btn__icon {
    border-right: 1px solid $light-grey;
  }

  .menu-btn__text {
    color: $deep-green;
  }
}

.menu-btn--dark {
  background-color: $deep-green;

  .menu-btn__icon {
    border-right: 1px solid rgba(162, 242, 192, .25);
  }

  .menu-btn__text {
    color: $neutral-white;
  }
}


/* begin PROFILE BTN */
.menu-btn--profile {
  justify-content: space-between;
  width: 127px;
  padding-left: 2px;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 55px;
    width: 1px;
    height: 20px;
    margin: auto;
    content: '';
    background-color: rgba(162, 242, 192, .25);
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    content: '';
    border-radius: 50%;
    background-color: $main-green;
  }
}

.menu-btn__ava {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  text-align: center;
  border-radius: 50%;
  background-color: $light-grey;

  span {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    padding: 1px 1px 0 0;
    color: rgba(99, 118, 126, .25);
  }
}

/* end   PROFILE BTN */
