.p-card {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $light-grey;

  @include min(941) {
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.p-card__ava {
  overflow: hidden;
  flex: none;
  width: 80px;
  margin-right: 15px;
  border-radius: 16px;

  @include min(600) {
    width: 120px;
    margin-right: 25px;
  }
  @include min(769) {
    width: 170px;
    margin-right: 35px;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;

    object-position: center;
    object-fit: cover;
  }
}

/* begin MAIN */
.p-card__main {
  display: flex;
  flex-direction: column;
  width: calc(100% - 95px);

  @include min(600) {
    width: calc(100% - 145px);
  }
  @include min(769) {
    width: calc(100% - 205px);
  }
  @include min(941) {
    width: 100%;
  }
}

.p-card__name {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
  color: $dark-green;

  @include responsive-font(24, 22);
}

.p-card__position {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;

  @include min(600) {
    margin-bottom: 18px;
  }

  span {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    display: block;
    margin-bottom: 6px;
    padding: 0 16px;
    color: $neutral-grey;
    border-right: 1px solid rgba(10, 213, 130, .5);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
}

.p-card__about {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;

  @include min(600) {
    margin-bottom: 18px;
  }

  span {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    display: block;
    margin-bottom: 8px;
    padding-right: 24px;
    color: $dark-green;
  }
}

.p-card__awards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.p-card__award-verif {
  display: inline-flex;
  align-items: center;
  height: 32px;
  margin-right: 16px;
  margin-bottom: 8px;
  padding: 8px 14px;
  border: 1px solid $fresh-mint;
  border-radius: 18px;
  background-color: rgba(162, 242, 192, .5);
}

.p-card__award-verif-icon {
  flex: none;
  margin-right: 10px;

  img {
    display: block;
    flex: none;
    width: 12px;
    height: 15px;
  }
}

.p-card__award-verif-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  user-select: none;
  white-space: nowrap;
  color: $dark-green;
}

.p-card__award-rait {
  display: flex;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 8px;
}

.p-card__award-rait-icon {
  flex: none;
  margin-right: 10px;

  img {
    display: block;
    width: 20px;
    height: 20px;
  }
}

.p-card__award-rait-text,
.p-card__award-rait-link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1;
  color: $dark-green;
}

.p-card__award-rait-link {
  padding-left: 3px;
  text-decoration: underline;
  color: $main-green;

  &:hover {
    text-decoration: none;
    color: $main-green;
  }
}

/* end   MAIN */

/* begin BTNS */
.p-card__btns {
  display: flex;
  flex-direction: column;
  flex: none;
  width: 100%;
  padding-top: 12px;

  @include min(600) {
    width: 295px;
  }
  @include min(941) {
    margin-left: 20px;
    padding-top: 0;
  }
}

.p-card-download-cv {
  height: 52px;
  margin-bottom: 10px;

  @include min(941) {
    height: 56px;
  }
}

.p-card__cta-btn {
  max-width: 100%;
  height: 52px;

  @include min(941) {
    height: 56px;
  }
}

/* end   BTNS */
