.popup__layer {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  opacity: .85;
  background: $dark-green;
}

.popup {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100vh;
  transform: translate(-50%, -50%);
  background: #fff;

  @include min(600) {
    width: calc(100% - 60px);
    height: calc(100vh - 60px);
    border-radius: 16px;
  }

  &::before {
    opacity: .04;
    background-position: 50% 50%;
    background-size: cover;
  }
}

.popup--sm {
  .popup-container {
    max-width: 400px;

    .popup__form-input {
      width: 100%;
    }
  }
}

.popup--lg {
  .popup-container {
    max-width: 1030px;
  }
}

.popup__close {
  position: absolute;
  z-index: 1100;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;

  @include min(600) {
    top: 27px;
    right: 27px;
  }

  svg {
    fill: $dark-green;
    width: 24px;
    height: 24px;
  }
}

.popup__inn {
  overflow: auto;
  height: 100%;
  padding: 50px 20px 70px 20px;

  @include min(600) {
    padding: 80px 60px;
  }
}

.popup-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 820px;
  min-height: 100%;
  margin: 0 auto;
}

.popup__title {
  font-family: $font;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 24px;
  text-align: center;
  color: $dark-green;

  @include responsive-font(44, 32);
  @include min(600) {
    margin-bottom: 42px;
  }
}

.popup__descr {
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 24px;
  color: $neutral-grey;

  @include min(769) {
    margin-bottom: 47px;
  }
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.popup__form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.popup__form-input {
  width: 100%;
  margin-bottom: 20px;

  @include min(769) {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}

.popup__cta-btn {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;

  @include min(769) {
    max-width: 400px;
  }
}

.popup__form-footer {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  width: 100%;
  text-align: center;
  color: $neutral-grey;
}

/* begin VIEW MORE */
.view-more-popup {
  @include min(600) {
    max-width: 650px;
    height: auto;
  }

  .container {
    padding: 0 90px;
  }
}

.view-more-popup__icon {
  width: 44px;
  height: 44px;
  margin-bottom: 20px;

  img {
    display: block;
    width: 100%;
  }
}

.view-more-popup__title {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 50px;
  text-align: center;
  color: $dark-green;

  @include responsive-font(24, 20);
  @include min(769) {
    margin-bottom: 70px;
  }
}

.view-more-popup__btns {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;

  @include min(600) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 477px;
  }

  .cta-btn {
    width: 100%;
    min-width: 0;
    height: 58px;

    @include min(600) {
      width: calc(50% - 38px);
    }
  }

  .cta-btn--login {
    color: $neutral-white;
    background-color: $deep-green;
    background-image: none;
  }
}


.view-more-popup__btns-separ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 27px;
  height: 58px;
  margin: 0 auto;
  user-select: none;

  @include min(600) {
    position: relative;
    width: 17px;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background-color: $light-grey;

    @include min(600) {
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
    }
  }

  span {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    position: relative;
    display: block;
    padding: 4px 0;
    text-align: center;
    text-transform: uppercase;
    color: $neutral-grey;
    background-color: #fff;
  }
}

/* end   VIEW MORE */


/* begin REVIEWS */
.reviews-popup {
  .popup-container {
    display: block;
  }
}

.reviews-popup__header {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}

.reviews-popup__title {
  font-weight: 500;
  line-height: 1.1;
  margin-right: auto;
  margin-bottom: 8px;
  padding-right: 15px;
  color: $dark-green;

  @include responsive-font(44, 32);

  span {
    color: $main-green;
  }
}

/* end   REVIEWS */
