.search-contractor {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  padding: 1px;
  border-radius: 32px;
  background-color: transparent;

  @include min(1025) {
    overflow: hidden;
    flex-direction: row;
    max-width: 100%;
    border: 1px solid $light-grey;
    background-color: #fff;
  }
}

.search-contractor__select,
.search-contractor__btn {
  width: 100%;

  @include min(1025) {
    width: calc(100% / 6);
  }
}

.search-contractor__select {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 54px;
  margin-bottom: 10px;
  border: 1px solid $light-grey;
  border-radius: 28px;
  background-color: $neutral-white;

  @include min(1025) {
    //overflow: visible;
    height: 60px;
    margin-bottom: 0;
    border: none;
    background-color: transparent;
  }

  &:first-child {
    &::before {
      display: none;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 36px;
    margin: auto;
    content: '';
    background-color: $light-grey;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 24px;
    bottom: 0;
    height: 8px;
    margin: auto;
    content: '';
    border-top: 6px solid $neutral-grey;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  input,
  select {
    line-height: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-right: 30px;
    padding-left: 20px;
    text-overflow: ellipsis;
    color: $neutral-grey;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;

    &::-ms-expand {
      display: none;
    }
  }
}
