.header--co {
  .container {
    max-width: 100%;

    @include min(769) {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
}

.header__user {
  display: none;

  @include min(1025) {
    position: relative;
    display: block;
    flex: none;
    margin-left: 15px;
    pointer-events: auto;
  }

  &:hover {
    .header__user-menu-wrap {
      pointer-events: auto;
      opacity: 1;
    }
  }

  &::after {
    @include min(1025) {
      position: absolute;
      right: 0;
      bottom: 0;
      overflow: hidden;
      width: 16px;
      height: 16px;
      content: '';
      pointer-events: none;
      border-radius: 50%;
      background-color: $neutral-white;
      background-image: url('../img/setting.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &::before {
    @include min(1025) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      height: 24px;
      margin: auto;
      content: '';
      background-color: rgba(8, 28, 34, .25);
    }
  }
}

.header__user-ava {
  display: none;

  @include min(1025) {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    border-radius: 50%;
    background-color: $light-grey;
  }

  span {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    padding-top: 1px;
    color: rgba(99, 118, 126, .25);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }
}

/* begin MENU */
.header__user-menu-wrap {
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 16px;
  transition: .5s;
  pointer-events: none;
  opacity: 0;
}

.header__user-menu {
  min-width: 170px;
  padding: 18px 24px 18px 24px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 24px 48px rgba(8, 28, 34, .08);
}

.header__user-menu-list {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  list-style: none;
  border-bottom: 1px solid $light-grey;

  &:last-child {
    margin: 0;
    padding: 0;
    border: none;
  }
}

//.header__user-menu-item{
//
//}
.header__user-menu-link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.9;
  text-transform: uppercase;
  color: $neutral-grey;
}

/* end   MENU */
