//BEGIN menu-btn--co
button.menu-btn.menu-btn--dark.menu-btn--profile.menu-btn--co.active
  .menu-btn__ava
    img(src="assets/img/logo-ava.jpg" alt="avatar")
    span B
  .menu-btn__text menu
//END   menu-btn--co