//BEGIN menu-btn--co
button.menu-btn.menu-btn--dark.menu-btn--profile.menu-btn--co
  .menu-btn__ava
    img(src="assets/img/ava.jpg" alt="avatar")
    span C
  .menu-btn__text menu
//END   menu-btn--co