//BEGIN about-last
.about-last
  .container
    h2.about-last__title Hire the Right Staff For Your Business
    .about-last__descr Staffeak is the new, simple one-stop recruitment solution to all of your staff professional needs. We understand that running a business is complicated and having the best people by your side will make your operation more efficient and smoother!  No business can succeed and grow without the right people.
    .about-last__items
      .about-last__item
        .about-last__item-icon
          img(src="assets/img/about-item-icon.svg" alt="icon")
        h3.about-last__item-title Mission statement
        .about-last__item-text
          p We provide only the best professionals and experts in every field, offering secure, reliable, and cost-effective services to improve your office workflow and create a positive culture in your office. Staffeak operates using only the best method of modern office dynamics. We work endlessly to match only the best candidates with your business. We use a personal and professional approach on both sides of our business model. Our commitment is to you.
      .about-last__item
        .about-last__item-icon
          img(src="assets/img/about-item-icon.svg" alt="icon")
        h3.about-last__item-title Your placement specialist
        .about-last__item-text
          p Being a trustworthy placement company, we provide you with access to thousands of available professionals who uphold a high level of professionalism and excellence in their field. At Staffeak, our goal is to match an employer with qualified candidates on a temporary or permanent basis so that you don’t have to sacrifice production levels because your staffing demand isn’t met. Let us solve that for you! Staffeak is working hard every day to meet your demand and exceed your expectations.
//END   about-last