//BEGIN different
.different
  .container
    h2.different__title What makes us different from the others?
    .different__list
      .different__item
        .different__icon
          img(src="assets/img/second-slider-icon-01.svg" alt="icon")
        .different__text We provide qualified and professional personnel
      .different__item
        .different__icon
          img(src="assets/img/second-slider-icon-02.svg" alt="icon")
        .different__text Actively recruit thousand’s of talented professionals that are unable to see your job posts
      .different__item
        .different__icon
          img(src="assets/img/second-slider-icon-03.svg" alt="icon")
        .different__text We screen candidates and handle the time-consuming work, so that you can focus on hiring qualified people
//END   different