//BEGIN find
.find
  .container
    h2.find__title Find Staff For Your Office Today!
    .find__subtitle Revolutionizing the Business of Recruitment
    .find__descr Staffeak gives you the opportunity to select the professional you seek! Find the right candidate for your office culture and team dynamic. Our vision: To eliminate the middle-man (staffing agents) and directly connect businesses with skilled candidates. Being the 'Agency Of Choice', we evaluate and confirm every applicant's technical skills, credentials, communication style, and personality to accelerate the simplicity of your search. We have a recruiting team with experience, insight, and resources that understands what you need.
    .find__table
      .find__row
        .find__td 01
        .find__td Customize search
        .find__td Customizable filter allows you to search who you’re looking for and  to narrow down the candidates who suit your needs. Traditional staffing model is also available to you. We take pride in providing you with both options totally customizable to your needs.
      .find__row
        .find__td 02
        .find__td Targeted Marketing
        .find__td Complete your direct and proactive search. We’ve eliminated the potential service gap by providing quality temporary and permanent professionals who are ready to work for your office in a moments notice.
      .find__row
        .find__td 03
        .find__td Candidate qualification
        .find__td We provide a simple screening process. We only send you the best professionals.
      .find__row
        .find__td 04
        .find__td Negotiation expertise
        .find__td We negotiate contracts and offer a mutually beneficial partnership.
      .find__row
        .find__td 05
        .find__td Post Search Review
        .find__td Act as a trusted advisor to support the retention of your new hire to ensure alignment and smooth transition.
//END   find