//BEGIN footer
.footer
  .container
    .footer__left
      a(href="/").footer__logo
        img(src="assets/img/footer-logo.svg" alt="logo")
      .footer__info
        .footer__text-slogan At Your Service <span>24 Hours a Day, 7 Days a Week</span>
        .footer__info-row
          .footer__copyright © 2022 Staffeak. All rights reserved.
          a(href="/").footer__privacy Privacy Policy & Terms of use

    .footer__socials
      a(href="#" target="_blank" rel="nofollow noopener noreferrer").footer__social-link
        +svg('inst')
      a(href="#" target="_blank" rel="nofollow noopener noreferrer").footer__social-link
        +svg('fb')
      a(href="#" target="_blank" rel="nofollow noopener noreferrer").footer__social-link
        +svg('youtube')
      a(href="#" target="_blank" rel="nofollow noopener noreferrer").footer__social-link
        +svg('in')
//END   footer