//BEGIN header
header#header.header.header--co
  .container
    include ../elements/logo
    include ../elements/menu-bo
    include ../elements/buttons/direct-btn-header
    .header__user
      a(href="#").header__user-ava
        span B
    .header__settings
      ul.header__settings-menu
        li.header__settings-item
          a(href="#").header__settings-link Edit profile
        li.header__settings-item
          a(href="#").header__settings-link Change password
      button.header__login
        +svg('person')
        .header__login-text Log out
    include ../elements/buttons/menu-btn-bo
//END   header