//BEGIN header
header#header.header.header--bo.header--bo-no-reg
  .container
    include ../elements/logo
    include ../elements/buttons/direct-btn-header
    .header__user
      a(href="#").header__user-ava
        span B
      //BEGIN header__user-menu
      .header__user-menu-wrap
        .header__user-menu
          //-ul.header__user-menu-list
            li.header__user-menu-item
              a(href="#").header__user-menu-link Change password
            li.header__user-menu-item
              a(href="#").header__user-menu-link Edit profile
          ul.header__user-menu-list
            li.header__user-menu-item
              a(href="#").header__user-menu-link Log out
      //END   header__user-menu

    .header__settings
      //-ul.header__settings-menu
        li.header__settings-item
          a(href="#").header__settings-link Edit profile
        li.header__settings-item
          a(href="#").header__settings-link Change password
        li.header__settings-item
          a(href="#").header__settings-link Subscription
      button.header__login
        +svg('person')
        .header__login-text Log out
    include ../elements/buttons/menu-btn-bo
//END   header