//BEGIN index-text
.index-text
  .container
    .index-text__title Do you need to help your practice run smoothly, eliminating unwanted downtime? Find <a href="#" class="index-text__title-link">Quality staffing</a> with Staffeak. Unlike traditional staffing, we regularly fill jobs for different types of business – from office workers to medicine personal.in
    .index-text__footer
      .index-text__footer-ava
        img(src="assets/img/ava-trio.png" alt="img")
      .index-text__footer-text 12,265 people already finded a work
//END   index-text