script(src='assets/js/foundation.js')
script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js")
script(src='assets/js/app.js')
script(src='assets/js/uncompressed.js')
