//BEGIN second
.second
  a(href="#").direct-btn.second__btn
    span Direct hire
    +svg('arr-right')
  .second__inn
  .container
    h2.second__title What makes us <span class="italic">different</span> from the others?
    include ../sliders/second-slider
//END   second