//BEGIN text-anim
#text-anim.text-anim
  .container
    .text-anim__row.text-anim__row--left We unite quality professionals
    .text-anim__row.text-anim__row--righ with your successful bussiness
//END   text-anim