//BEGIN top
.top
  .container
    h1.top__title Over <span class="top__title-highlight">100,000</span> <span class="top__title-italic">different business</span><br>in USA are looking for temp staff everyday
    .top__subtitle Unlike traditional staffing agencies, we connect you directly with professional staff
    include ../elements/search-main
    include ../sliders/logos-slider
//END   top