//BEGIN why-we
.why-we
  .container
    .why-we__list
      //BEGIN why-we__item
      .why-we__item
        .why-we__icon
          img(src="assets/img/why-we-icon-01.svg" alt="icon")
        .why-we__title <span>we understand you</span> and your long-term needs
        .why-we__descr Our attention to detail and superior customer service can assist you in building your team and take the stress out of finding the best local and nationwide talent for your business in a matter of seconds
      //END   why-we__item
      //BEGIN why-we__item
      .why-we__item
        .why-we__icon
          img(src="assets/img/why-we-icon-02.svg" alt="icon")
        .why-we__title we provide <span>hight quality standarts</span> of work
        .why-we__descr Nothing should stop you from unlocking you and your offices maximum potential. Staffeak is known for the highest standards of timeliness, professionalism, and respect
      //END   why-we__item
      //BEGIN why-we__item
      .why-we__item
        .why-we__icon
          img(src="assets/img/why-we-icon-03.svg" alt="icon")
        .why-we__title we use only <span>proven methodologies</span>
        .why-we__descr Our proven recruitment and training methodologies enable us to offer cost-effective permanent and temporary staffing in the US that meets your business needs
      //END   why-we__item
      //BEGIN why-we__item
      .why-we__item
        .why-we__slogan
          span At Your Service
          span 24 Hours a Day, 7 Days a Week
      //END   why-we__item
//END   why-we