//BEGIN menu
nav.menu#menu
  ul.menu__list
    li.menu__item
      a(href="#").menu__link About
    li.menu__item
      a(href="#").menu__link How it works
    li.menu__item
      a(href="#").menu__link Pricing
    li.menu__item
      a(href="#").menu__link Our sponsors
    li.menu__item
      a(href="#").menu__link Contact
//END   menu
