//BEGIN menu-btn
button.menu-btn.menu-btn--white
  .menu-btn__icon
    svg(width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
      rect(width='4' height='4' rx='1')
      rect(y='8' width='4' height='4' rx='1')
      rect(x='8' width='4' height='4' rx='1')
      rect(x='8' y='8' width='4' height='4' rx='1')
      rect(x='4' y='4' width='4' height='4' rx='1').menu-btn__icon-center
  .menu-btn__text menu
//END   menu-btn