//BEGIN rating
.rating-wrap.rating-wrap--no-click
  .rating(data-rating='4')
    .rating__stars.rating__stars--full
      svg.rating__star.rating__star--full
        use(xlink:href="assets/img/sprite.svg#star-rating-full")
      svg.rating__star.rating__star--full
        use(xlink:href="assets/img/sprite.svg#star-rating-full")
      svg.rating__star.rating__star--full
        use(xlink:href="assets/img/sprite.svg#star-rating-full")
      svg.rating__star.rating__star--full
        use(xlink:href="assets/img/sprite.svg#star-rating-full")
      svg.rating__star.rating__star--full
        use(xlink:href="assets/img/sprite.svg#star-rating-full")

    .rating__filter
    .rating__value

    .rating__stars.rating__stars--transparent
      svg.rating__star.rating__star--transparent(data-rating='1')
        use(xlink:href="assets/img/sprite.svg#star-rating-transparent")
      svg.rating__star.rating__star--transparent(data-rating='2')
        use(xlink:href="assets/img/sprite.svg#star-rating-transparent")
      svg.rating__star.rating__star--transparent(data-rating='3')
        use(xlink:href="assets/img/sprite.svg#star-rating-transparent")
      svg.rating__star.rating__star--transparent(data-rating='4')
        use(xlink:href="assets/img/sprite.svg#star-rating-transparent")
      svg.rating__star.rating__star--transparent(data-rating='5')
        use(xlink:href="assets/img/sprite.svg#star-rating-transparent")
//END   rating
