//BEGIN search-main
form.search-main
  .search-main__select
    select
      option(value="State") State
      option(value="State-01") State-01
      option(value="State-02") State-02
      option(value="State-03") Very very very long State
  .search-main__select
    select
      option(value="Industry") Industry
      option(value="Industry-01") Industry-01
      option(value="Industry-02") Industry-02
      option(value="Industry-03") Industry-03
  .search-main__select
    select
      option(value="Specialty") Specialty
      option(value="Specialty-01") Specialty-01
      option(value="Specialty-02") Specialty-02
      option(value="Specialty-03") Specialty-03
  button.search-main__btn
    span Search
    +svg('magnify')
//END   search-main