*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: $deep-green;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1-italic {
  margin: 0 0 10px 0;
}

.italic {
  line-height: 1.1;
  @include responsive-font(50, 36);
  font-family: $font-bold;
  font-weight: 600;
  font-style: italic;
}

h1,
h2 {
  line-height: 1.1;

  @include responsive-font(44, 32);
}

h3 {
  line-height: 1.2;

  @include responsive-font(24, 22);
}

h4 {
  line-height: 1.2;

  @include responsive-font(20, 18);
}

h5,
h6 {
  @include responsive-font(18, 16);
}

p {
  margin: 0 0 10px 0;
}

a {
  transition: color $transition;
  text-decoration: none;
  color: $main-green;

  &:hover {
    color: $deep-green;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

//ul {
//  li {
//    // путь к кастомной картинке пункта ul
//    // list-style-image: url('../img/ul.png');
//  }
//}

//кастомные пункты списка с цифрами
//ol {
//  // list-style: none;
//  // @include counter(li);
//  li::before {
//    // color: $brand;
//  }
//}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

//input {
//  padding: 3px 10px 5px 10px;
//  color: $neutral-grey;
//  border: 1px solid $neutral-grey;
//
//  @include placeholder-color($neutral-grey);
//}

textarea {
  resize: none;
}

//input.error,
//textarea.error {
//  border-color: #ed1b24 !important;
//  background: #fbd1d3 !important;
//}
//
svg {
  display: block;
  overflow: visible;
}

//изменяем цвет выделения текста мышью
::selection {
  color: $dark-green;
  background-color: $fresh-mint;
  text-shadow: none;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  -webkit-overflow-scrolling: touch;

  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;

  @include min(769) {
    padding: 0 40px;
  }
  @include min(1200) {
    padding: 0 80px;
  }
}
