*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: $deep-green;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1-italic {
  margin: 0 0 10px 0;
}

.italic {
  font-family: $font-bold;
  font-weight: 600;
  font-style: italic;
  line-height: 1.1;

  @include responsive-font(50, 36);
}

h1,
h2 {
  line-height: 1.1;

  @include responsive-font(44, 32);
}

h3 {
  line-height: 1.2;

  @include responsive-font(24, 22);
}

h4 {
  line-height: 1.2;

  @include responsive-font(20, 18);
}

h5,
h6 {
  @include responsive-font(18, 16);
}

p {
  margin: 0 0 10px 0;
}

a {
  transition: color $transition;
  text-decoration: none;
  color: $main-green;

  &:hover {
    color: $deep-green;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

//ul {
//  li {
//    // путь к кастомной картинке пункта ul
//    // list-style-image: url('../img/ul.png');
//  }
//}

//кастомные пункты списка с цифрами
//ol {
//  // list-style: none;
//  // @include counter(li);
//  li::before {
//    // color: $brand;
//  }
//}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

.input,
.textarea,
.select {
  position: relative;

  input,
  textarea,
  select {
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 54px;
    padding: 2px 24px 2px 24px;
    transition: .5s;
    text-overflow: ellipsis;
    color: $dark-green;
    border: 1px solid $light-grey;
    border-radius: 28px !important;
    background: $neutral-white;

    @include placeholder-color($neutral-grey);
  }

  span {
    font-family: $font;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.1;
    position: absolute;
    top: 10px;
    left: 24px;
    display: block;
    transition: .5s;
    pointer-events: none;
    opacity: 0;
    color: $neutral-grey;
  }
}

.input.active input,
.textarea.active textarea,
.select.active select {
  padding: 15px 24px 2px 24px;
  color: $dark-green;

  & + span {
    opacity: 1;
  }
}

.textarea {
  textarea {
    min-height: 100px;
    padding-top: 18px;
    padding-bottom: 18px;
    resize: none;
  }

  &.active textarea {
    padding-top: 23px;
  }
}

.select select {
  padding-top: 4px;
  padding-left: 23px;
  color: #63767e;

  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

.input.error input,
.textarea.error textarea,
.select.error select {
  padding: 15px 24px 2px 24px;
  border-color: $error !important;

  & + span {
    opacity: 0;

    & + span {
      opacity: 1;
      color: $error;
    }
  }
}

svg {
  display: block;
  overflow: visible;
}

.blockquote {
  padding-left: 52px;
  background-image: url('../img/blockquote.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 20px 16px;

  span {
    font-family: $font;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.1;
    color: $neutral-grey;
  }
}

//изменяем цвет выделения текста мышью
::selection {
  color: $dark-green;
  background-color: $fresh-mint;
  text-shadow: none;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  -webkit-overflow-scrolling: touch;

  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  position: relative;

  flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;

  @include min(769) {
    padding: 0 40px;
  }
  @include min(1200) {
    padding: 0 80px;
  }
}

.page-top {
  padding-top: 100px;
  padding-bottom: 30px;
}

.page-top__title {
  font-family: $font;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  margin-bottom: 0;
  color: $dark-green;

  @include responsive-font(44, 32);
}

.bg-rounds {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    content: '';
    transition: $transition;
    pointer-events: none;
    opacity: 1;
    background-image: url('../img/bg-top.svg');
    background-position: 50% 50%;
  }
}

/* begin DOUBLE PAGE */
.double-page {
  display: flex;
}

.double-page__item {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;

  @include min(769) {
    width: 50%;
  }
}

.double-page__item--left {
  display: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include min(769) {
    display: flex;
  }
}

.double-page__item--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.double-page-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include min(769) {
    max-width: 480px;
    margin: 0;
    padding: 0 40px;
  }
  @include min(1200) {
    max-width: 640px;
    padding: 0 120px;
  }

  .cta-btn {
    max-width: 100%;
  }
}

.double-page-blockquote {
  max-width: 600px;
  margin: auto auto 0 auto;
  padding-right: 40px;
  padding-left: 92px;
  color: $neutral-white;
  background-image: url('../img/blockquote.svg');
  background-repeat: no-repeat;
  background-position: 40px 0;
  background-size: 20px 16px;

  @include responsive-font(24, 20);

  span {
    color: $fresh-mint;
  }
}

/* end   DOUBLE PAGE */
