.direct-btn-header {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: -70px;
  margin-bottom: 50px;
  padding: 16px 24px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  pointer-events: none;
  opacity: 0;
  border: 2px solid $neutral-white;
  border-radius: 30px !important;
  background-color: transparent;
  background-image: none;

  @include min(1025) {
    margin: 0 15px 0 30px;
    pointer-events: auto;
    opacity: 1;
    border: 2px solid $dark-green;
  }

  span {
    color: $neutral-white;

    @include min(1025) {
      color: $dark-green;
    }
  }


  &.active {
    &::before {
      position: absolute;
      top: 1px;
      left: 0;
      width: 13px;
      height: 13px;
      content: '';
      border: 1px solid #fff;
      border-radius: 50%;
      background-color: $fresh-mint;
    }
  }

  &:hover {
    svg {
      transform: translateX(5px);
    }
  }

  svg {
    display: block;
    flex: none;
    fill: $main-green;
    width: 14px;
    height: 12px;
    margin-left: 10px;
    transition: $transition;

    @include min(1025) {
      fill: $dark-green;
    }
  }
}

.header.open {
  .direct-btn-header {
    transition: .5s .4s;
    pointer-events: auto;
    opacity: 1;
  }
}

.header--bo-no-reg {
  .direct-btn-header {
    margin-top: auto;
    margin-left: 0;

    @include min(1025) {
      margin-top: 0;
      margin-left: auto;
    }
  }
}
