extends ../_template

block variables
  - let title       = 'Staffeak'
  - let description = 'Staffeak'

block content
  #main-wrap.main-wrap
    include ../sections/header-half

    //begin content
    main.main
      .contacts.double-page
        //BEGIN LEFT
        .double-page__item.double-page__item--left
          .double-page-blockquote We are connect <span>100,000</span> different businessin USA with temp staff

        //END   LEFT

        //BEGIN RIGHT
        .double-page__item.double-page__item--right
          .double-page-container
            h2.page-top__title.contacts__title Contact
            //BEGIN contacts__info
            .contacts__info
              .contacts__info-item
                span.contacts__info-text Address
                a(href="#" target="_blank" rel="nofollow noopener noreferrer").contacts__info-link Columbia, МD
              .contacts__info-item
                span.contacts__info-text Phone
                a(href="tel:+6677779776").contacts__info-link 667 777 9776
              .contacts__info-item
                span.contacts__info-text Email
                a(href="mailto:service@tempeak.com").contacts__info-link service@tempeak.com
            //END   contacts__info

            //BEGIN contacts__form
            form.contacts__form
              .select.contacts__form-select
                select
                  option(value="Subject") Subject
                  option(value="Subject 1") Subject 1
                  option(value="Subject 2") Subject 2
                span Subject
                span Some error text
              .input.contacts__form-input
                input(placeholder='Email Address')
                span Email Address
                span Some error text
              .input.contacts__form-input
                input(placeholder='Your Name')
                span Your Name
                span Some error text
              .input.contacts__form-input
                input(placeholder='Phone')
                span Phone
                span Some error text
              .textarea.contacts__form-textarea
                textarea(placeholder='Message')
                span Message
                span Some error text
              button.cta-btn.contacts__cta-btn
                span Send message
                +svg('arr-right')
            //END   contacts__form
        //END   RIGHT

      include ../elements/buttons/direct-btn
    //end content

    include ../elements/popups
    include ../sections/scripts
