extends ../_template

block variables
  - let title       = 'Staffeak'
  - let description = 'Staffeak'

block content
  #main-wrap.main-wrap
    include ../sections/header-bo-ava

    //begin content
    main.main
      //BEGIN page-top
      .page-top.bg-rounds.sign-up-co-page-top
        .container
          .search-no-res-page-top__title-wrap
            h2.page-top__title.sign-up-co-page-top__title Edit profile
      //END   page-top

      form.sign-up-co.cabinet
        .container
          //BEGIN LEFT
          .cabinet__left
            h3.cabinet__title Business Logo
            .profile-bo__ava.edit
              .profile-bo__ava-clear-btn
              .profile-bo__ava-img
                img(src="assets/img/company-logo.jpg" alt="logo")
              .profile-bo__ava-no
                img(src="assets/img/i-no-logo.svg" alt="icon")
                span Company<br>Logotype
          //END   LEFT

          //BEGIN RIGHT
          .cabinet__right
            //BEGIN block personal
            .cabinet__inputs-block
              h3.cabinet__title Personal information
              .cabinet__input-row
                .input
                  input(placeholder="Business name")
                  span Business name
                  span Some error text
                .input
                  input(placeholder="Website")
                  span Website
                  span Some error text
              .cabinet__input-row
                .input
                  input(placeholder="Tax ID")
                  span Tax ID
                  span Some error text
                .input
                  input(placeholder="Contact person")
                  span Contact person
                  span Some error text
              .cabinet__input-row
                .input
                  input(placeholder="Email")
                  span Email
                  span Some error text
                .input
                  input(placeholder="Phone")
                  span Phone
                  span Some error text
              .cabinet__input-row.cabinet__input-row--lg
                .textarea
                  textarea(placeholder="Business description")
                  span Business description
                  span Some error text
            //END   block

            //BEGIN block address
            .cabinet__inputs-block
              h3.cabinet__title Address
              .cabinet__input-row
                .select
                  select
                    option(value="State") State
                    option(value="1-2 years") 1-2 years
                    option(value="3-5 years") 3-5 years
                    option(value="10-200 years") 10-200 years
                  span State
                  span Some error text
                .select
                  select
                    option(value="City") City
                    option(value="1-2 years") 1-2 years
                    option(value="3-5 years") 3-5 years
                    option(value="10-200 years") 10-200 years
                  span City
                  span Some error text

              .cabinet__input-row
                .input
                  input(placeholder="Address")
                  span Address
                  span Some error text
                .input
                  input(placeholder="ZIP")
                  span ZIP
                  span Some error text
            //END   block

            //BEGIN block BTNS
            .cabinet__btns-block
              button.cabinet__delete-acc
                img(src="assets/img/basket.svg" alt="delete")
                span Delete account

              button.cabinet__cansel Cansel

              button.cta-btn.cabinet__cta-btn
                span Save
                +svg('arr-right')
            //END   block
          //END   RIGHT
    //end content

    include ../sections/footer
    include ../elements/popups
    include ../sections/scripts
