extends ../_template

block variables
  - let title       = 'Staffeak'
  - let description = 'Staffeak'

block content
  #main-wrap.main-wrap
    include ../sections/header-transparent

    //begin content
    main.main
      include ../sections/top
      include ../sections/second
      include ../sections/index-text
      include ../sections/why-we

    //end content

    include ../sections/footer
    include ../sections/scripts
