extends ../_template

block variables
  - let title       = 'Staffeak'
  - let description = 'Staffeak'

block content
  .main-wrap.no-js(style="background-color:#014750")
    include ../sections/header-transparent

    //begin content
    main.main

    //end content

    include ../sections/footer
    include ../sections/scripts
