extends ../_template

block variables
  - let title       = 'Staffeak'
  - let description = 'Staffeak'

block content
  #main-wrap.main-wrap
    include ../sections/header-half

    //begin content
    main.main
      .login.double-page
        //BEGIN LEFT
        .double-page__item.double-page__item--left
          .double-page-blockquote Glad to see you again. Over <span>100,000</span> different businessin USA waiting for you
        //END   LEFT

        //BEGIN RIGHT
        .double-page__item.double-page__item--right
          .double-page-container
            h2.login__title.page-top__title Reset password

            //BEGIN sign-up__form
            form.sign-up__form
              .input.sign-up__input
                input(type='text' placeholder="Email")
                span Email
                span Some error text
              .input.sign-up__input
                input(placeholder='New password' type='password')
                span New password
                span Some error text
              .input.sign-up__input
                input(placeholder='Confirm new password' type='password')
                span Confirm new password
                span Some error text
              button.cta-btn.sign-up__cta-btn
                span Reset password
                +svg('arr-right')
            //END   sign-up__form
        //END   RIGHT
    //end content

    include ../elements/popups
    include ../sections/scripts
