extends ../_template

block variables
  - let title       = 'Staffeak'
  - let description = 'Staffeak'

block content
  #main-wrap.main-wrap
    include ../sections/header-co-ava

    //begin content
    main.main
      //BEGIN page-top
      .page-top.bg-rounds.profile-co-page-top
        .container
          //BEGIN header
          .profile-co__header
            .profile-co__header-left
              h2.profile-co__header-title Lilu <span>Jonson</span>
              .profile-co__header-position
                span Finance
                span Accounting and audit
              .profile-co__header-experience 4+ years of experience
            .profile-co__header-right
              .p-card__award-verif
                .p-card__award-verif-icon
                  img(src="assets/img/verificated.svg" alt="icon")
                .p-card__award-verif-text Verificated
              .p-card__award-rait
                .p-card__award-rait-icon
                  img(src="assets/img/star.svg" alt="icon")
                .p-card__award-rait-text 4.99
                a(href="#").p-card__award-rait-link (44)
          //END   header
      //END   page-top

      //BEGIN profile-co
      .container
        .profile-co
          //BEGIN LEFT
          .profile-co__left
            .profile-co__ava
              img(src="assets/img/profile-co-photo.jpg" alt="ava")
              .profile-co__ava-no
                +svg('no-ava')
                span No photo
            a(href="#").p-card-download-cv.download-cv
              .p-card-download-cv-text Download CV <span>Lilu Jonson</span>
              .p-card-download-cv-icon
                img(src="assets/img/file.svg" alt="icon")
            a(href="#").p-card-download-cv.download-cv
              .p-card-download-cv-text Download CV <span>Lilu Jonson</span>
              .p-card-download-cv-icon
                img(src="assets/img/file.svg" alt="icon")
          //END   LEFT

          //BEGIN RIGHT
          .profile-co__right
            //BEGIN info
            .profile-co__right-info
              .profile-co__right-info-item
                span Address
                span 12345678, 888-00 Freedom Blvd, Thief World, California
              .profile-co__right-info-item
                span Miles available to commute
                span 120 miles
              .profile-co__right-info-item
                span Education
                span Massachusetts Institute of Technology. June 2020
              .profile-co__right-info-item
                span Phone
                span 222 123 456 789
              .profile-co__right-info-item
                span Email
                span lilu.jonson@gmail.com
              .profile-co__right-info-item
                span Date of Birth
                span 06 december 1988
            //END   info

            //BEGIN profile-co__salary
            .profile-co__salary.profile-co-salary
              .profile-co-salary__title Salary (hourly) rate if request till appointment:
              ul.profile-co-salary__price-list
                li.profile-co-salary__price-item
                  span <strong>$</strong>45
                li.profile-co-salary__price-item
                  span <strong>$</strong>60
                li.profile-co-salary__price-item
                  span <strong>$</strong>90
              ul.profile-co-salary__time-list
                li.profile-co-salary__time-item
                  +svg('right')
                li.profile-co-salary__time-item
                  span 48 h
                li.profile-co-salary__time-item
                  +svg('right')
                li.profile-co-salary__time-item
                  span 12 h
                li.profile-co-salary__time-item
                  +svg('right')
            //END profile-co__salary

          //END   RIGHT
      //END   profile-co

    //end content

    include ../sections/footer
    include ../elements/popups
    include ../sections/scripts
