//BEGIN review-popup
.review-popup
  //BEGIN top
  .review-popup__top
    //BEGIN ava
    .review-popup__ava
      img(src="assets/img/sponsors/sponsor-08.svg" alt="logo")
    //END   ava
    //BEGIN info
    .review-popup__info
      .review-popup__info-title Massive Dynamic
      .review-popup__info-name Darrell Steward
    //END   info
    //BEGIN schedule
    .review-popup__schedule
      .requests__schedule
        .requests__schedule-icon
          img(src="assets/img/clock.svg" alt="clock")
        .requests__schedule-info
          span 14.12
          span 10:00-12:00
    //END   schedule
    //BEGIN rating
    .review-popup__rating
      include ../rating-no-click
    //END   rating
  //END   top
//END   review-popup