//BEGIN p-card
.p-card
  //BEGIN ava
  .p-card__ava
    img(src="assets/img/results/res-02.jpg" alt="ava")
  //END   ava

  //BEGIN main
  .p-card__main
    .p-card__name Wade Warren
    .p-card__position
      span Finance
      span Marketing Coordinator
    .p-card__about
      span 4+ years of experience
      span Alabama, Dreamland
      span Salary range $40
    .p-card__awards
      .p-card__award-rait
        .p-card__award-rait-icon
          img(src="assets/img/star.svg" alt="icon")
        .p-card__award-rait-text 4.97
        a(href="#").p-card__award-rait-link (12)
  //END   main

  //BEGIN btns
  .p-card__btns
    a(href="#").p-card-download-cv.download-cv
      .p-card-download-cv-text Download CV <span>Lilu Jonson</span>
      .p-card-download-cv-icon
        img(src="assets/img/file.svg" alt="icon")
    button.cta-btn.p-card__cta-btn
      span Send request
      +svg('arr-right')
  //END   btns
//END   p-card