.cabinet {
  padding-top: 30px;
  padding-bottom: 120px;

  .container {
    display: flex;
    flex-direction: column;

    @include min(600) {
      flex-direction: row;
    }
  }
}

.cabinet__left {
  display: flex;
  flex-direction: column;
  flex: none;
  width: 100%;
  padding-bottom: 50px;

  @include min(600) {
    width: 240px;
  }
  @include min(941) {
    width: 295px;
  }
}

.cabinet__right {
  width: 100%;

  @include min(600) {
    padding-left: 50px;
  }
  @include min(941) {
    padding-left: 80px;
  }
  @include min(1025) {
    padding-left: 120px;
  }
}

.cabinet__inputs-block {
  margin-bottom: 10px;
}

.cabinet__title {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 15px;
  color: $dark-green;

  @include responsive-font(20, 18);
}

.cabinet__input-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .input,
  .select,
  .textarea {
    width: 100%;
    margin-bottom: 20px;

    @include min(941) {
      width: calc(50% - 10px);
    }
  }

  .textarea textarea {
    min-height: 150px;
  }

  .checkbox-label {
    margin-bottom: 20px;
    padding-right: 30px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.cabinet__input-row--lg {
  .input,
  .textarea {
    width: 100%;
  }
}

.cabinet__input-row--checkboxes {
  display: flex;
  justify-content: flex-start;
}

.cabinet__pricing-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.cabinet__btns-block {
  display: flex;
  margin-top: 50px;
  padding-top: 30px;
  border-top: 1px solid $light-grey;
}

.cabinet__cta-btn {
  margin-left: auto;
}
