.search-bo {
  height: 100%;
  display: flex;flex-direction: column;
  background-color: $neutral-white;
  &::before {
    opacity: .05;
    background-size: cover;
  }
}
.search-bo__body{
  margin-bottom: auto;
}

.search-filter {
  width: 100%;
  display: flex;
  margin-bottom: auto;

  .select,
  .input {
    width: calc(100% / 6);
    margin-right: 10px;

    &.active {
      input,
      select {
        padding: 2px 24px 2px 24px;
      }
    }

    input,
    select {
    background-color: #fff;
      height: 48px;
    }
  }
}

.calendar-input {
  input {
    cursor: pointer;
  }
}
