.search-bo {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $neutral-white;

  &::before {
    opacity: .05;
    background-size: cover;
  }
}

.search-bo__body {
  margin-bottom: auto;
}

.search-filter {
  display: flex;
  width: 100%;
  margin-bottom: auto;

  .select,
  .input {
    width: calc(100% / 6);
    margin-right: 10px;

    &.active {
      input,
      select {
        padding: 2px 24px 2px 24px;
      }
    }

    input,
    select {
      height: 48px;
      background-color: #fff;
    }
  }
}

.calendar-input {
  input {
    cursor: pointer;
  }
}
