.sign-up-co-page-top {
  padding-top: 100px;
  background-color: $neutral-white;
}

.sign-up-co__ava {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 163px;
  height: 163px;
  margin-bottom: 30px;
  text-align: center;
  border: 1px dashed #63767e;
  border-radius: 16px;

  @include min(600) {
    width: 100%;
    height: 245px;
  }
  @include min(941) {
    height: 345px;
  }

  span {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    display: block;
    padding: 0 15px;
    color: $neutral-grey;

    &:last-child {
      font-size: 12px;
      padding-top: 16px;
    }
  }
}
